<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ProjectB&C - home - Stephanie</title>
    <style>
        .center{
            margin: auto;
            width: 95%;
            border: 3px solid snow;
            padding: 20px;
            }
        body{
            background-color: #000046;
            }
        em{
            color: midnightblue;
            }
    </style>
    <h1><b style="color:snow; font-size: larger"> -- Issue Board -- </b></h1>
    <p align = right>        <a href="{% url 'login' %}"  style="color: snow" > User Login </a>&nbsp;&nbsp;
        <a href="{% url 'logout' %}"  style="color: snow" > User Logout </a><br/></br>
        {% if user.is_authenticated %}
            <span style="color: lightcyan">Welcome, {{ user.get_username }}. Thanks for logging in.</span>
        {% else %}
            <span style="color: lightcyan">Welcome, Guest.</span>
        {% endif %}
    </p>
        <form method="GET" action="">
            <p align = right><b style="color:snow; font-size: medium">Search : </b>
           　<input type=text name="q" value="{{ request.GET.q }}" placeholder="Search Issues" style="width: 30%;">
            <input type=submit value="Search"></p>
        </form>
</head>
    <div style="background-color:white;color:black;padding:80px;height: 330pt">
        {% for issue in issues %}
        <h3>
        <a style="color: darkblue;" href="{% url 'issue_detail' pk=issue.pk %}">Issue {{issue.pk}} : {{ issue.title }}</a>
        </h3>
        {% endfor %}
        <p align = middle>
            Page:
            {% for num in issues.paginator.page_range %}
              {% ifequal num issues.number %}
                <span class="current"><b>{{ num }}</b></span>
              {% else %}
                <a href="?page={{ num }}"> {{ num }}</a>
              {% endifequal %}
            {% endfor %}
        </p>
    </div>
    <br>
    <body style="margin: 5%" background="https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae">
        <div class = "center">
            <h3 style="color:snow">
               <p align = left>
                   >> Go to " <a href="{% url 'register' %}"  style="color: lightcyan" > User Register </a> " <br><br>
                   >> Go to " <a href="{% url 'livechat' %}"  style="color: lightcyan" > Live Chat Room </a> " <br><br>
               >> Add " <a href="{% url 'add_issue' %}"  style="color: lightcyan" > a new issue </a> " <br><br>
                >> Back to " <a href="{% url 'home' %}"  style="color: lightcyan" > Home Page </a> " </p>
            </h3>
        </div>
    </body>
</html>

