<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectB - home - Stephanie</title>
    <style>
        .center{
            margin: auto;
            width: 98%;
            border: 3px solid snow;
            padding: 20px;
            }
        body{
            background-color: lightyellow;
            }
        em{
            color: midnightblue;
            }
    </style>
    <h1><b style="color:snow; font-size: larger"> -- Issue Board -- </b></h1><p align = right><b style="color:snow; font-size: medium">Search : </b><input type=text style="width: 30%;">
        <input type=submit value="Search"></p><hr><hr>
</head>
    <div style="background-color:white;color:black;padding:80px;height: 500pt">
        {% for issue in issue_list %}
        <h2>
        <a href="{% url 'issue_detail' pk=issue.pk %}">Issue {{issue.pk}} : {{ issue.title }}</a>
        </h2>
        {% endfor %}
    </div>
    <hr><hr>
    <body style="margin: 5%" background="https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae">
        <div class = "center">
            <h3 style="color:snow">
               <p align = left>>> Go to " <a href="{% url 'livechat' %}"  style="color: lightcyan" > Live Chat Room </a> " <br><br>
               >> Add " <a href="{% url 'add_issue' %}"  style="color: lightcyan" > a new issue </a> " <br><br>
                >> Back to " <a href="{% url 'home' %}"  style="color: lightcyan" > Home Page </a> " </b></p>
            </h3>
        </div>
    </body>
</html>

