<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectB - livechat - Stephanie</title>
    <style>
        .center{
            margin: auto;
            width: 98%;
            border: 3px solid snow;
            padding: 20px;
            }
        body{
            background-color: lightyellow;
            }
        em{
            color: floralwhite;
            }
    </style>
</head>
    <h1><b style="color:snow; font-size: larger"> -- Live Chat Room -- </b></h1>
        <p align = right> <b style="color:snow; font-size: medium">Back to " <a href="{% url 'home' %}"  style="color: lightcyan" > Home Page </a> " </b><hr>
<div style="background-color:white;color:black;padding:80px;height: 500pt">
    {% for message in message_list %}
    <b style="color:darkblue">
        <p><b style="color:black">{{ message.name  }}:</b>
            <b style="color:darkblue"> {{ message.message }}</b>
            <b style="color:lightseagreen">({{ message.create_at }})</b>
        </p>
    </b>
    {% endfor %}
</div>

    <body style="margin: 5%" background="https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae">
        <br><br>
            <div class = "center">

            <form action="/api/chat_submit" method="post">
                {% csrf_token %}
                {{ form }}
                <em>Your name: </em>
                    <input type="text" name="name"><br><br>
                    <em>Leave messages here: </em><br><br>
                    <textarea name = message style="width: 100%;height:200px"></textarea><br><br>
                    <input type=submit value="------ Submit -------" style="width: 100%;">
            </form>
            </div>
    </body>

</html>