<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectB&C - add issue post- Stephanie</title>
    <style>
        .center{
            margin: auto;
            width: 98%;
            border: 3px solid snow;
            padding: 20px;
            }
        em{
            color: floralwhite;
            }
    </style>
</head>
    <h1><b style="color:snow; font-size: larger"> -- Issue Post Form -- </b></h1>
        <p align = right> <b style="color:snow; font-size: medium">Back to " <a href="{% url 'home' %}"  style="color: lightcyan" > Home Page </a> " </b>

<body style="margin: 5%" background="https://images.unsplash.com/photo-1465158753229-aa725fff85a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b1d5afac6ea6583b441b809b188bdae">
        <br>
            <div class = "center">
            <form action="/api/issue_submit" method="post">
                {% csrf_token %}
                {{ form }}
                <em>Title: </em>
                    <input type="text" name="title"><br><br>
                {% if user.is_authenticated %}
                    <em>Your name: </em>
                    <input type="text" name="name" value="{{ user.get_username }}"><br><br>
                    <em>Your email: </em>
                    <input type="text" name="email" value="{{ user.email }}"><br><br>
                {% else %}
                    <em>Your name: </em>
                    <input type="text" name="name"><br><br>
                    <em>Your email: </em>
                    <input type="text" name="email"><br><br>
                {% endif %}

                <em>Content: </em><br><br>
                    <textarea name = "content" style="width: 100%;height:200px"></textarea><br><br>
                    <input type=submit value="------ Submit -------" style="width: 100%;">
            </form>
            </div>
            <br>

        <div class = "center">
            <h3 style="color:snow">
               <p align = left>>> Please follow the following rules to create a new post : <br><br>
               1. Title : Please enter a title name without any empty space. <br>
                   &nbsp;&nbsp;&nbsp;&nbsp;<b style="color:lightgreen">(valid)
                   example title: Test_period, Vacation, Information_of_calculus_class, Grade_report ...etc </b><br>
                   &nbsp;&nbsp;&nbsp;&nbsp;<b style="color:lightpink">(invalid)
                       example title: Exam period, Class information (white space included)</b> <br><br>
               2. Your name : Please enter your name here.<br><br>
               3. Your email: Please enter a valid email address here. <br><br>
               4. Content: Leave your messages or problems here.   <br><br>
               5. Submit the form to post a new issue  <br><br>
               </p>
            </h3>
        </div>
</body>

</html>